body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f5f5f5;
}

h1 {
  color: #333;
  text-align: center;
}

button {
  padding: 8px 16px;
  margin: 5px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

#filtros {
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.ofertas-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin-top: 0;
  color: #2c3e50;
}

.card p {
  color: #7f8c8d;
  margin: 5px 0;
}

.salario {
  font-weight: bold;
  color: #27ae60 !important;
}

.tipo {
  display: inline-block;
  padding: 3px 8px;
  background-color: #3498db;
  color: white;
  border-radius: 4px;
  font-size: 0.8em;
}

.btn {
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.btn-primary {
  background-color: #3498db;
  color: white;
}

.btn-primari {
  background-color: #3498db;
  color: white;
  margin: 10px 10px 2px 10px;
  float: right;
}

.btn-secondary {
  background-color: #95a5a6;
  color: white;
}

.hidden {
  display: none;
}

.card-container {
  margin-top: 15px ;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.ofertasContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  max-width: 1000px;
}

#empresaBoton{
  color: white;
  background-color: #95a5a6;
  float: right;
  text-decoration: none; 
  padding: 8px 16px;
  border-radius: 4px;
}

#empresaBoton:hover{
  background-color: #959ea6b7 ;
}
